# ipynb
.ipynb_checkpoints
data 정리.ipynb
/data/25_Portfolios_5x5.CSV
/data/25_Portfolios_BEME_OP_5x5.CSV
/data/25_Portfolios_ME_AC_5x5.csv
/data/25_Portfolios_ME_BETA_5x5.csv
/data/25_Portfolios_ME_INV_5x5.CSV
/data/25_Portfolios_ME_NI_5x5.csv
/data/25_Portfolios_ME_Prior_1_0.CSV
/data/25_Portfolios_ME_Prior_12_2.CSV
/data/25_Portfolios_ME_Prior_60_13.CSV
/data/25_Portfolios_ME_RESVAR_5x5.csv
/data/25_Portfolios_ME_VAR_5x5.csv
/data/30_Industry_Portfolios.CSV
/data/Portfolios_Formed_on_CF-P.CSV
/data/Portfolios_Formed_on_D-P.CSV
/data/Portfolios_Formed_on_E-P.CSV
